:host {
  display: block;
  padding: 20px 12px;
  background-color: var(--dark-color);
}

.main-menu{
  display: grid;
  grid-gap: 8px;
  list-style: none;
  &__item{
    padding: 16px 12px;
    cursor: pointer;
    border: none;
    background: none;
    color: var(--light-color);
    display: grid;
    grid-template-columns: 16px 1fr max-content;
    grid-gap: 12px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    align-items: center;
    width: 100%;
    text-align: left;
    border-radius: 2px;

    &:hover,
    &:focus-visible {
      background-color: var(--dark-hover-color);
      color: var(--primary-color);
      .main-menu__icon {
        fill: var(--primary-color);
      }
    }
  }
  &__icon{
    fill: var(--light-color);
    width: 16px;
    height: 16px;
  }
}

.to-subscribers{
  display: flex;
  gap: 10px;
  align-items: center;
  &__link{
    color: var(--primary-color);
    text-decoration: none;
  }
  &__arrow{
    width: 12px;
    height: 12px;
    fill: var(--primary-color);
  }
}

.footer{
  background-color: var(--dark-hover-color);
  border-radius: 2px;
  padding: 4px 16px;
  display: grid;
  grid-template-columns: 32px 1fr 16px;
  grid-gap: 12px;
  align-items: center;
  position: absolute;
  bottom: 20px;
  width: calc(100% - 20px);
  &__avatar{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
  }
  &__username{
    font-weight: 700;
    color: var(--primary-color);
  }
  &__settings-ico{
    width: 18px;
    height: 18px;
    fill: var(--primary-color);
  }
}