@if (profile(); as profile) {
  @if(profile.avatarUrl) {
    <img
      class="profile-header__avatar"
      [src]="profile.avatarUrl | imgUrl"
      [alt]="profile.username"
    />
  } @else {
    <img
      class="profile-header__avatar"
      src="/assets/images/avatar-face.jpg"
      [alt]="profile.username"
    />
  }

  <div
    class="profile-header__namespace"
  >
    <h1
      class="h4"
    >
      {{ profile.firstName }} {{profile.lastName}}
    </h1>
    <span
      class="regular"
    >
      {{ profile.username }}
    </span>
  </div>
}
